<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Payment Highway Examples</title>
    </head>
    <body>
        {{{ body }}}

        <p>
            <a href="/">back to main menu</a>
        </p>
    </body>
</html>