<h1>Payment cancelled</h1>

<table>
    <tr>
        <th>name</th>
        <th>value</th>
    </tr>
    {{#each parameters}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        </tr>
    {{/each}}
</table>