<h2>Payment Highway Examples</h2>
<a href="/add_card">Add Card Form + Server-to-Server Debit Payment</a><br/>
<a href="/pay_with_card">Pay with Card Form</a><br/>
<a href="/add_and_pay_with_card">Add and Pay With Card Form</a><br />
<a href="/pay_with_mobilepay">Add and Pay With Mobilepay</a><br />
<a href="/masterpass">Pay with masterpass</a><br />